
body{
  color: black;
  background: white;
  font-weight: 900;
}
.main {
 
  max-width: 430px;
  margin-top: 140px;
  margin-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
color: rgb(0, 0, 0);
height: auto;
  /* margin-left: auto;
     margin-right auto;
     Is a trick for centering an element horizontally
     without needing a container. */
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}

.orders-grid , .order-container{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;

padding-bottom: 100px;
}.order-container{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
   box-shadow: 0 30px 30px black;
}
 
.order-header {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(213, 217, 217);
color:rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
font-weight: 900;
  padding: 20px 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
 
}
.img{
position: -webkit-sticky;
  text-align: center;
align-items: center;
  justify-content: center;
  width: 100px;
  left: 200px;
margin-left: 140px;
margin-top: -20px;
margin-bottom: 10px;

}
.order-header-left-section {
  display: flex;
  flex-shrink: 0;
  margin-left: -17px;
}

.order-header-label {
  font-weight: 900;
margin-left: 0px;
  font-size: 19px;
}.sbec-header{
  background-color: black;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.order-date,
.order-total {

}.order-total{
padding-left: 25px;
border-top: 3px solid rgb(0, 0, 0);
padding-top: 20px;
}

.order-header-right-section {
margin-left: -25px;
  flex-shrink: 1;
  margin-top: -30px;
padding-left: 50px;
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 23px;
}

@media (max-width: 575px) {
  .order-header {
    flex-direction: column;
    align-items: start;
    line-height: 23px;
    padding: 15px;
  }

  .order-header-left-section {
    flex-direction: column;
  }

  .order-header-label {
    margin-right: 5px;
  }

  .order-date,
  .order-total {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-right: 0;
  }

  .order-header-right-section {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.order-details-grid {
  padding: 40px 25px;
  border: 1px solid rgb(213, 217, 217);
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: grid;
  grid-template-columns: 1fr;
  column-gap: 35px;
  row-gap: 60px;
  align-items: center;
}
@media (max-width: 800px) {
  .order-details-grid {
    grid-template-columns:  1fr;
    row-gap: 0;
    padding-bottom: 8px;
 
  }
}

@media (max-width: 450px) {
  .order-details-grid {
    grid-template-columns: 1fr;
  }.img{
    margin-right:30px;
    margin-left: 100px;
  }.label{
    font-size: 15px;
    margin-left: 10px;
  }
}
@media(max-width: 390px) {
  .label{font-size: 15px;}
.product-name{
font-size: 15px;
}.product-delivery-date{
  font-size: 10px;
}.product-quantity{
  font-size: 10px;
}.quan{
  font-size: 10px;
}.foodi{
  font-size: 10px;
}.img{
  scale: 0.8;
  margin-left: 80px;
}
}
.product-image-container {
  text-align: center;
}

.product-image-container img {
  max-width: 110px;
  max-height: 110px;
}

.product-name {
  border-top: 3px solid rgb(0, 0, 0);
padding-left: 25px;
padding-top: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 20px;
}



.product-delivery-date {
 padding-top: 20px;
  border-top: 3px solid rgb(0, 0, 0);
  margin-bottom: 20px;
padding-left: 28px;
font-size: 20px;
 font-weight: 700;
}

.product-quantity {
  border-top: 3px solid rgb(0, 0, 0);
  margin-bottom: 20px;
padding-left: 25px;
font-size: 20px;
 font-weight: 700;
 padding-top: 20px;
}

.buy-again-button {
  font-size: 15px;
  width: 140px;
  height: 36px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.buy-again-icon {
  width: 25px;
  margin-right: 15px;
}

.product-actions {
  align-self: start;
}

.track-package-button {
  width: 100%;
  font-size: 15px;
  padding: 8px;
}

@media (max-width: 800px) {
  .buy-again-button {
    margin-bottom: 10px;
  }

  .product-actions {
    /* grid-column: 2 means this element will be placed
       in column 2 in the grid. (Normally, the column that
       an element is placed in is determined by the order
       of the elements in the HTML. grid-column overrides
       this default ordering). */
    grid-column: 2;
    margin-bottom: 30px;
  }

  .track-package-button {
    width: 140px;
  }
}

@media (max-width: 450px) {
  .product-image-container {
    text-align: center;
    margin-bottom: 25px;
  }

  .product-image-container img {
    max-width: 150px;
    max-height: 150px;
  }

  .product-name {
    margin-bottom: 10px;
  }

  .product-quantity {
    margin-bottom: 15px;
  }

  .buy-again-button {
    width: 100%;
    margin-bottom: 15px;
  }

  .product-actions {
    /* grid-column: auto; undos grid-column: 2; from above.
       This element will now be placed in its normal column
       in the grid. */
    grid-column: auto;
    margin-bottom: 70px;
  }

  .track-package-button {
    width: 100%;
    padding: 12px;
  }
}



.sbec-header {
  background:linear-gradient(to right, rgb(14, 1, 1),rgb(34, 34, 34), rgb(104, 102, 102),rgb(58, 58, 58), rgb(15, 0, 0));


  color: rgb(243, 243, 243);
  padding-left: 15px;
  padding-right: 15px;
margin-bottom: 30px;

  align-items: center;
  justify-content: space-between;
text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 9;
}

.logo {justify-content: center;
text-align: center;
  width: 100px;align-items: center;
  margin-top: 5px;
}
