body{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: roboto;
}.main{
  max-width: 1500px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 140px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  
}.page-title{
  font-weight: 700;
  font-size: 22px;
  margin-left: 200px;
  margin-bottom: 18px;
  color: rgb(255, 255, 255);
}.check-grid{
  display:grid;
  grid-template-columns: 900px;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
}@media(max-width: 1000px){
  .main{
    max-width: 500px;
  }.check-grid{
    grid-template-columns: 1fr;
  }
}.cart-item-containers,.payment-summary{
  border: 1px solid rgb(30, 252, 9);
  box-shadow: 0 0 15px rgb(0, 255, 0);
  border-radius: 4px;
  padding: 18px;
 
}.cart-item-containers{
  margin-bottom: 12px;
}.payment-summary{
  margin-bottom: 5px;


}.pay-container{
  position: absolute;
 left:0px;
 right: 0px;
 padding-bottom: 100px;
 display:grid;
  grid-template-columns:  900px;
  align-items: center;
  justify-content: center;
}
@media(max-width: 1000px){
  .payment-summary{
    grid-row: 1;
    margin-bottom: 12px;
  }
  .pay-container{
  position: absolute;
 left:10px;
 right: 10px;
 padding-bottom: 100px;
 display:grid;
  grid-template-columns:  500px;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
}
}.delivery-date{
  color: rgb(145, 255, 0);
  font-weight: 900;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
  font-family: roboto;
}.cart-item-details-grid{
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  column-gap: 25px;
}@media(max-width: 1000px){
  .cart-item-details-grid{
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}.product-image{
  max-width: 100%;
max-height: 120px;
 margin-left: auto;
  margin-right: auto;
}.product-name{
  font-weight: 700;
  margin-bottom: 8px;
  color: rgb(255, 255, 255);
  font-family: roboto;
}.product-price{
  color: red;
  font-weight: 700;
  margin-bottom: 5px;
}
.product-quantity .link-primary{
  margin-left: 3px;
}@media(max-width: 1000px){
  .reaction-options{
grid-column: 1 / span 2; color: green;
  }
}input{
  cursor: pointer;
}label{
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
}.delivery-option-price{
  color: rgb(255, 0, 128);
  font-size: 20px;
}.reaction-date{
color: orange;
font-weight: 600;
margin-bottom: 3px;
}.payment-summary-title{
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 12px;

}.payment-summary-row{
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 15px;
  margin-bottom: 9px;
color: rgb(248, 248, 248);
}.payment-summary-money{
  text-align: right;
}.subtotal-row .payment-summary-money{
   border-top: 1px solid rgb(255, 255, 255);
}.subtotal-row div{
  padding-top: 9px;
}.total-row{
color: rgb(167, 5, 5);
font-weight: 700;
font-size: 18px;
border-top: 1px solid rgb(222, 222, 222);
  padding-top: 18px;
}.place-order-button{
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;

  margin-top: 11px;
  margin-bottom: 15px;
}.delete-quantity-link{
  background-color: rgb(9, 253, 9);
  box-shadow: 0px 0px 20px rgb(126, 131, 126);
  border-radius: 100px;
  padding: 2px;
    border-bottom: solid white 2px;
  border: none;
  border-color: rgb(9, 253, 9);
  transition: transform 0.15s ease-in-out ;
  cursor: pointer;
}.delete-quantity-link:hover{
transform: scale(1.15);
background-color: rgb(71, 161, 11);
}.delete-quantity-link:active{
  transform: scale(0.5)translate(-2.5px);
}.img{
 
  width: 6vw;
  background-color: black;
  color: black;
  border-radius: 50px;
  margin-right: 10px;
  margin-top: 0px;

}
.imgg{
  width: 6vw;
  background-color: black;
  color: black;
  border-radius: 50px;
  margin-left: 5px;
  margin-top: 0px;
}
#text{
margin-left: 5px;
color: rgb(177, 61, 7);
box-shadow: 0 0 20px rgb(255, 123, 0);
}.quantity-input {
  width: 30px;
  
}.quantity-input,
.save-quantity-link {
  display: none;
}
.is-editing-quantity .quantity-input,
.is-editing-quantity .save-quantity-link {
  display: initial; /* or inline-block */
}.is-editing-quantity .update-quantity-link,
.is-editing-quantity .quantity-label{
  display: none;
}.link-primary .update-quantity-link,
.link-primary .quantity-label{
  display: initial;
}.link-primary .quantity-input,
.link-primary .save-quantity-link {
  display: none; /* or inline-block */
}.l3{
  color: rgb(255, 255, 255);


}
.rek{
margin-left: 4px;
  width:117px ;
}
.rek:hover{
  border: solid 2px rgba(255, 255, 255, 0.534);}
  .order-link{
color: black;
}.link-text{
  display: block;
  font-size: 13px;
  padding-left: 20px;
   color: rgb(0, 255, 0);
}.link-text{
  display: block;
  font-size: 15px;
  font-weight: 700;
  padding-left: 30px;
  
}.links:hover{
  border: solid 1px rgba(94, 255, 0, 0.603);
}.links{
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor:pointer;
  text-decoration:none;
  align-items: center;
  justify-content: center;
 
}.linkk-text{
  display: block;
  font-size: 13px;
  padding-left: 20px;
   color: rgb(2, 255, 2);
}.reaction-options{
  color: rgb(123, 255, 0);
  font-family: roboto;
}.top{
  font-weight: 900;
  padding:20px;
  padding-left: 50px;
 
}.l3{
  color: rgb(255, 255, 255);
}.ano{
  color: rgb(255, 0, 0);
}.btn{
  background: rgb(3, 255, 3);
  padding: 6px 10px;
  border-radius: 15px;

  border-bottom: solid white 2px;
border: none;
font-family: roboto;
box-shadow: 0 0 25px rgb(0, 0, 0);
}.btn:hover{
  background-color: green;
}.btn:active{
  opacity: 0.15;
}

.button{
color: white;
 border-bottom: solid white 2px;
       box-shadow: 0 30px 30px black;
justify-content: space-between;
      background:linear-gradient(to right, rgb(48, 145, 3), rgb(6, 202, 16), rgb(3, 139, 3)) ;
     border: none;
     font-size: 20px;

     padding: 15px 10px;
   border-radius: 15px;
     transition: transform 0.15s ease-in ;
    }
    .button:hover {
     
 opacity: 0.5; 
}.button:active{
   transform: scale(0.8);
}@media(max-width: 500px){
  .pay-container{
    grid-template-columns: 300px ;
  }.page-title{
    margin-left: -10px;
    font-size: 15px
  }
}@media(max-width: 400px){
      .delivery-date{
      font-size:15px
}}
@media(max-width: 370px){
  .check-header-right{
    margin-right: -10px;

  }.js-delivery-options{
font-size: 12px;
  }
}@media(max-width: 350px){
.check-header-right{
    margin-right: -25px;
  }.top{
    font-size: 14px;
  }.btn{scale:0.8}
}