.check-header {
  height: 80px;
  padding-left: 10px;
  padding-right: 80px;
  background-color: white;
color: black;
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
body{
  font-family: roboto;
}
.header-content {
  width: 100%;
  max-width: 1500px;

  display: flex;
  align-items: center;
}
.check-header-middle{
  margin-left: 200px;
}
.check-header-left{
  width: 150px;
}

.logo {
  width: 100px;
  margin-top: 12px;

}

.amazon-mobile-logo {
  display: none;
}
.check-header-right{



}
/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 575px or less, different
   styles (inside the {...}) will be applied. */
@media (max-width: 575px) {
  .check-header-left {
    width: auto;
    margin-left: 0px;
  }

  .amazon-logo {
    display: none;
  }

  .amazon-mobile-logo {
    display: inline-block;
    height: 35px;
    margin-top: 5px;
  }
}

.check-header-middle {
  flex: 1;
flex-shrink: 0;

  font-size: 25px;
  font-weight: 500;

  display: flex;

}

.return-to-home-links {
  color: rgb(0, 113, 133);
  font-size: 23px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .check-header-middle {
margin-left:0px;
width: auto;
  }

  .return-to-home-links {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  .check-header-middle {
margin-left: 20px;
  }.check-header {
    padding-right: 10px;
  }.check-header-middle{
  font-size: 15px;
  }.btn-top{
    scale: 0.7;
  }.logo{
    margin-left: -10px;
  }
}

.check-header-right- {
text-align: right;
  width: 50px;
  
}

@media (max-width: 1000px) {
  .check-header-right {
   
  }
}
.btn-top{
  padding: 15px;
}.img{
  width: 70px
}
.tire{

}
button{

       box-shadow: 0 30px 30px black;
justify-content: space-between;
      background:linear-gradient(to right, rgb(117, 116, 116), rgb(75, 75, 75), rgb(175, 174, 174)) ;
     border: none;
     border-radius: 10px;
     padding: 20px 20px;
     border-radius: 50px;
     transition: transform 0.15s ease-in ;
    }
    button:hover {
     
 opacity: 0.5; 
}button:active{
   transform: scale(0.8);
}